swagger: '2.0'
info:
  title: OpenID Provider
  description: OpenID Provider service
  version: 0.0.1
host: api.openid-provider.io.italia.it

schemes:
  - https

paths:

  /admin/clients:
    post:
      operationId: createClients
      summary: Create a client
      parameters:
        - $ref: './definitions.yaml#/parameters/bodyClientDefinition'
      responses:
        200:
          $ref: './definitions.yaml#/responses/200ClientResponse'
        400:
          $ref: './definitions.yaml#/responses/400BadRequest'
        401:
          $ref: "./definitions.yaml#/responses/401Unauthorized"
        500:
          $ref: './definitions.yaml#/responses/500InternalServerError'
    get:
      operationId: getClients
      summary: List clients
      parameters:
        - $ref: './definitions.yaml#/parameters/queryOrganizationId'
        - $ref: './definitions.yaml#/parameters/queryServiceId'
      responses:
        200:
          $ref: './definitions.yaml#/responses/200ClientListResponse'
        401:
          $ref: "./definitions.yaml#/responses/401Unauthorized"
        500:
          $ref: './definitions.yaml#/responses/500InternalServerError'

  /admin/clients/{clientId}:
    parameters:
      - $ref: './definitions.yaml#/parameters/pathClientId'
    get:
      operationId: detailClient
      summary: Return a client details
      responses:
        200:
          $ref: './definitions.yaml#/responses/200ClientResponse'
        404:
          $ref: './definitions.yaml#/responses/404NotFound'
        401:
          $ref: "./definitions.yaml#/responses/401Unauthorized"
        500:
          $ref: './definitions.yaml#/responses/500InternalServerError'
    delete:
      operationId: deleteClient
      summary: Remove a client
      responses:
        200:
          $ref: './definitions.yaml#/responses/200ClientResponse'
        404:
          $ref: './definitions.yaml#/responses/404NotFound'
        401:
          $ref: "./definitions.yaml#/responses/401Unauthorized"
        500:
          $ref: './definitions.yaml#/responses/500InternalServerError'

  /admin/grants:
    parameters:
      - $ref: './definitions.yaml#/parameters/headerIdentityId'
    get:
      operationId: listGrant
      summary: Return a list of grant
      security:
        - SubscriptionKey: []
      responses:
        200:
          $ref: './definitions.yaml#/responses/200GrantListResponse'
        401:
          $ref: "./definitions.yaml#/responses/401Unauthorized"
        500:
          $ref: './definitions.yaml#/responses/500InternalServerError'
  /admin/grants/{organizationId}/{serviceId}:
    parameters:
      - $ref: './definitions.yaml#/parameters/pathOrganizationId'
      - $ref: './definitions.yaml#/parameters/pathServiceId'
      - $ref: './definitions.yaml#/parameters/headerIdentityId'
    get:
      operationId: detailGrant
      summary: Return a grant detail
      security:
        - SubscriptionKey: []
      responses:
        200:
          $ref: './definitions.yaml#/responses/200GrantDetailResponse'
        404:
          $ref: './definitions.yaml#/responses/404NotFound'
        400:
          $ref: "./definitions.yaml#/responses/400BadRequest"
        401:
          $ref: "./definitions.yaml#/responses/401Unauthorized"
        500:
          $ref: './definitions.yaml#/responses/500InternalServerError'
    delete:
      operationId: deleteGrant
      summary: Delete a grant
      security:
        - SubscriptionKey: []
      responses:
        204:
          $ref: './definitions.yaml#/responses/204NoContent'
        400:
          $ref: "./definitions.yaml#/responses/400BadRequest"
        401:
          $ref: "./definitions.yaml#/responses/401Unauthorized"
        404:
          $ref: './definitions.yaml#/responses/404NotFound'
        500:
          $ref: './definitions.yaml#/responses/500InternalServerError'

securityDefinitions:
  SubscriptionKey:
    type: apiKey
    name: Ocp-Apim-Subscription-Key
    in: header
    description: The API key obtained through the developer portal or the getService operation.